.box-selection-wrapper {
  border: solid thin #e2e2e288;

  opacity: 0;

  pointer-events: none;
  position: absolute;

  top: 0%;
  left: 0%;
  width: 0%;
  height: 0%;
}

.box-selection-visible {
  opacity: 1;
}
