.node-state-single-wrapper {
  position: relative;
  padding: 0px 5px;
  margin: 5px 0px;
}

.node-state-single-wrapper.disabled > .node-state-input {
  opacity: 0.2;
  pointer-events: none;
}

.node-state-single-wrapper > .state-label {
  font-size: smaller;
  margin: 2px 0px;
  opacity: 0.3;
}
