.stage-wrapper {
  position: absolute;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.stage-wrapper-visible {
  position: relative;
  transform: translateX(0px);
  opacity: 1;
}
