@use "~@plantarium/theme/src/themes.module.scss";
@import "~@plantarium/theme/src/themes.module.scss";

.component-wrapper {
  position: relative;
  background-color: #4b4b4b;
  border-radius: 2px;
  width: var(--width, min-content);
	user-select: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0);
  outline: none !important;
}

.component-wrapper:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

:global(.component-wrapper.fullWidth) {
  width: 100%;
}
