@use 'sass:map';

$dark-gray: #303030;
$medium-gray: #4b4b4b;
$light-gray: #cccccc;
$dark-green: #337150;
$light-green: #65e2a0;
$yellow: #fffd7b;
$light-red: #e26565;
$border-radius: 2px;
$green-light: #65e2a0;
$green-dark: #469c6e;
$green-gradient: linear-gradient(to right, $green-light, $green-dark);

$themes: (
  dark: (
    background-color: #141516,
    midground-color: #242729,
    foreground-color: #33373a,
    outline-color: #212121,
    text-color: #ffffff,
    shadow: 0px 0px 2px rgba(0, 0, 0, 0.7),
  ),
  light: (
    background-color: #d0d0d0,
    midground-color: white,
    foreground-color: #e8e8e8,
    outline-color: #b9b9b9,
    text-color: #484848,
    shadow: 0px 0px 5px rgba(0, 0, 0, 0.144),
  ),
  pinky: (
    background-color: #d0d0d0,
    foreground-color: pink,
    outline-color: #b9b9b9,
    text-color: #484848,
    shadow: 0px 0px 5px rgba(0, 0, 0, 0.144),
  ),

);

:export {
  @each $theme, $map in $themes {
    @each $key, $value in $map {
      #{$theme}_#{$key}: #{$value};
    }
  }
}
