button {
  position: relative;
  border-radius: 2px;
  margin: 0;
  padding: 8px 12px;
  border: none;
  color: $light-gray;
  text-transform: lowercase;
  background-color: $light-green;
  cursor: pointer;
}

#topbar button {
  background-color: transparent;
}

#sidebar button {
  margin: 0;
}

button:focus {
  outline: none;
}

.button-background {
  border-radius: 2px;
  top: 7px;
  position: absolute;
  height: 38px;
  transition: top 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.8), left 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.8),
    width 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.8);
  background-image: linear-gradient(45deg, $dark-green, $light-green);
}
