input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

.checkbox-label {
  float: right;
  top: 0;
  font-size: 0.85em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 2px;
  display: block;
  color: rgba(255, 255, 255, 0);
  transition: color 0.1s ease;
  text-align: center;
  cursor: pointer;
  user-select: none;

  @include themify($themes) {
    border-color: themed("outlineColor");
    box-shadow: themed("textColor");
    background-color: themed("foregroundColor");
  }

  
  > svg{
    transition: opacity 0.3s ease;
    opacity: 0;
    @include themify($themes) {
      stroke-color: themed("textColor");
    }
  }
}

.checkbox-label:hover {
  @include themify($themes) {
    box-shadow: themed("shadow");
  }
}

input[type="checkbox"]:checked + label >svg{
  opacity: 1;
}
