.curve-wrapper {
  > .canvas-wrapper {
    &:hover {
      @include themify($themes) {
        box-shadow: themed("shadow");
      }
    }
    max-height: 200px;
    height: 200px;
    border-radius: 2px;
    overflow: hidden;

    @include themify($themes) {
      background-color: themed("foregroundColor");
    }

    > canvas {
      width: 100%;
      height: 100%;
    }
  }
}
