.ui-element-wrapper {
  position: relative;
  padding: 15px 0px;
  border-bottom: solid thin rgba(128, 128, 128, 0.226);
  h4 {
    user-select: none;
    pointer-events: none;
  }
}
.stage-wrapper > .ui-element-wrapper:last-child {
  border: none;
}

.ui-element-disabled {
  @include themify($themes) {
    opacity: themed("disabledOpacity");
  }
  pointer-events: none !important;
  * {
    pointer-events: none !important;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;

  .tooltip-text {
    pointer-events: none;
    width: 100%;

    font-size: 0.8em;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

    @include themify($themes) {
      background-color: themed("foregroundColor");
      color: themed("textColor");
    }

    text-align: center;
    padding: 5px 0;
    border-radius: $border-radius;

    /* Position the tooltip text */
    position: absolute;
    z-index: 99;
    bottom: 0%;
    left: 0%;

    transform: translateY(120%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &::before {
      content: "TIP: ";
      font-weight: bold;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      @include themify($themes) {
        border-color: transparent transparent themed("foregroundColor") transparent;
      }
    }
  }

  &:hover .tooltip-text {
    transition: opacity 0.3s 0.8s ease, transform 0.3s 0.8s ease;
    transform: translateY(100%);
    opacity: 1;
  }
}

body.tooltip-disabled {
  .tooltip-text {
    display: none;
  }
}
