.ui-element-wrapper {
  position: relative;
  padding: 15px 0px;
  border-bottom: solid thin rgba(128, 128, 128, 0.226);
  h4 {
    user-select: none;
    pointer-events: none;
  }
}
.stage-wrapper > .ui-element-wrapper:last-child {
  border: none;
}

.ui-element-disabled {
  @include themify($themes) {
    opacity: themed("disabledOpacity");
  }
  pointer-events: none !important;
  * {
    pointer-events: none !important;
  }
}
