.group-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding-left: 19px;

  &.group-open {
    opacity: 1;
    pointer-events: all;
  }

  .ui-element-wrapper:last-child {
    border-bottom: none;
  }
}

.group-toppart {
  margin-top: 10px;
  cursor: pointer;
  > h3 {
    user-select: none;
    padding-left: 17px;
  }
  > span {
    position: absolute;
    left: -7px;
    float: left;
    transform: rotate(-45deg) translateY(0.25em);
    transition: transform 0.3s ease;
    font-size: 0.8em;
    user-select: none;
  }
  &.group-open > span {
    transform: rotate(45deg) translateY(-0.1em);
  }
}

.ui-group-content-wrapper {
  transition: max-height 0.2s $transition-rubber;
  max-height: 0px;
  overflow: hidden;
}

.stage-wrapper {
  > .group-toppart {
    margin-left: -10px;
    > h3 {
      padding-left: 10px;
    }
    > span {
      left: -20px;
    }
  }
  > .ui-group-content-wrapper {
    > .group-wrapper {
      padding-left: 0;
    }
  }
}
