.ui-number-button-wrapper {
  @include themify($themes) {
    background-color: themed("foregroundColor");
  }
  position: relative;
  width: fit-content;
  border-radius: 2px;
  pointer-events: none;

  &:hover {
    @include themify($themes) {
      box-shadow: themed("shadow");
    }
  }

  > input {
    z-index: 2;
    padding: 6px 25px;
    margin: 0;
    text-align: center;
    background-color: transparent;
    @include themify($themes) {
      color: themed("textColor");
    }
    font-family: "Nunito Sans";
    font-weight: 400;
    border: none;
    pointer-events: all;
    width: fit-content;
    &:focus {
      outline: none !important;
    }
  }
  > button {
    pointer-events: all;
    font-weight: bolder;
    position: absolute;
    margin: 0;
    padding: 5px 8px;
    padding-top: 5px;
    background-color: transparent;
    @include themify($themes) {
      color: themed("textColor");
    }
  }
  > button:nth-child(2) {
    right: 0;
  }
}

.ui-number-title {
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
