.ui-project-list-wrapper {
  .ui-project-list-scroll-wrapper {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: visible;
    border-radius: $border-radius $border-radius 0 0;

    /* width */
    &::-webkit-scrollbar {
      position: absolute;
      right: -10px;
      margin-right: -10px;
      width: 5px;
      transform: translateX(-10px);
      margin-left: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: white;
      border-radius: $border-radius;
    }
  }

  table {
    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
    border-style: solid;
    border-width: 1px;
    border-radius: $border-radius;
    border-bottom: none;
    @include themify($themes) {
      border-color: themed("outlineColor");
    }

    > tr {
      width: 100%;
      background-color: transparent;
      transition: background-color 0.2s ease, color 0.2s ease, opacity 0.5s ease;
      cursor: pointer;
      > td {
        border-bottom: solid thin;
        @include themify($themes) {
          border-color: themed("outlineColor");
        }
        p {
          padding-left: 10px;
        }
        button {
          background-color: transparent;
          @include themify($themes) {
            color: themed("textColor");
          }
          padding: 0.2em;
        }
      }
      &.ui-project-list-row-active {
        border-right: solid 5px;
        @include themify($themes) {
          background-color: themed("foregroundColor");
          border-color: themed("outlineColor");
          color: themed("textColor");
          button {
            color: themed("textColor");
          }
        }
      }
      &:last-child > td {
        border: none !important;
      }
    }

    &:hover {
      @include themify($themes) {
        box-shadow: themed("shadow");
      }
    }
  }
  > button {
    width: calc(100% - 5px);
    padding: 3px 12px;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.ui-row-deleted {
  background-color: $light-red !important;
  opacity: 0;
}
