.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#render-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#ms-counter {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: gray;
}
