.node-state-outer-wrapper {
  position: relative;
}

.node-state-wrapper {
  position: relative;
  padding: 0px 7px;
  padding-top: 1px;
  margin: 5px 0px;

  > p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    margin-top: -0.5em;
  }
}

.node-state-disabled > .node-state-wrapper {
  pointer-events: none;
  opacity: 0.5;
}
