.nodesystem-transform {
  position: relative;
  height: 100%;
  width: 100%;

  > .nodes-container {
    position: relative;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    overflow: visible;
    z-index: 1;
  }
  > svg {
    position: absolute;
    pointer-events: none;
    overflow: visible;
    width: 1px !important;
    height: 1px !important;
    left: 50%;
    top: 50%;
    transform: scale(0.83);
    z-index: 0;

    > path {
      stroke-linecap: round;
    }
  }
}

.nodesystem-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden !important;

  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

  &.nodesystem-state-dragging {
    cursor: grab;
  }
}
