@import "../variables.scss";

.non-interactive {
}

.node-wrapper {
  position: absolute;
  background-color: $bg;
  border-radius: 5px;
  min-height: 50px;
  color: $border;
  box-shadow: 0 1.1px 1.4px -19px rgba(0, 0, 0, 0.045), 0 2.9px 3.5px -19px rgba(0, 0, 0, 0.102),
    0 5.8px 7.1px -19px rgba(0, 0, 0, 0.183), 0 12px 14.6px -19px rgba(0, 0, 0, 0.32),
    0 33px 40px -19px rgba(0, 0, 0, 0.74);

  > .node-header {
    background: $green_gradient;
    pointer-events: none;
    user-select: none;
    border-radius: 4px 4px 0px 0px;

    > .node-title {
      margin: 0;
      white-space: pre;
      padding: 2px;
      padding-left: 4px;
      font-size: 0.5em;
    }
  }

  &.node-active {
    outline: solid thick red;
  }

  &.node-selected {
    outline: solid medium yellow;
  }
}

.node-inputs-wrapper {
  left: -7px;
}

.node-outputs-wrapper {
  right: -7px;
}

.node-inputs-wrapper,
.node-outputs-wrapper {
  position: absolute;
  top: 12px;
  width: 10px;
}

.socket-type-boolean {
  background-color: red;
}

.socket-type-number {
  background-color: yellow;
}

.socket-type-all {
  background: conic-gradient(red, orange, yellow, green, blue, purple);
}
