@import "../variables.scss";

.node-input-wrapper {
  position: absolute;
  top: 0;
  left: -3px;
  width: 4px;
  height: 7px;
  box-sizing: border-box;
  right: 0;
  border-radius: 0% 3.5px 3.5px 0%;

  margin: 5px 0px;
  margin-top: 0;
  margin-left: 3px;
}

// .node-state-disabled .node-input-wrapper {
//   left: -7px !important;
//   width: 7px !important;
//   border-radius: 50% !important;
// }

.socket-state-highlight {
  outline: solid thick hotpink;
}

.socket-state-potential {
  outline: solid thick green;
}

.socket-state-middle {
  outline: solid thick orangered;
}
