@import "./themes.scss";
@import "./typography.scss";

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  .themetransition {
    * {
      transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease !important;
    }
  }
}

canvas {
  image-rendering: optimizeSpeed;
}

p#version {
  @include themify($themes) {
    color: themed("textColor");
  }
}

body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.component {
  outline: solid 1px;
  height: 100%;
  @include themify($themes) {
    outline-color: themed("outlineColor");
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;

  @include themify($themes) {
    border-color: themed("outlineColor");
  }
  border-radius: $border-radius;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}
button:focus {
  border-color: #666;
}

#topbar {
  height: 51px;
  > button {
    margin: 6px 3px;
    @include themify($themes) {
      color: themed("textColor");
      background-color: themed("topBarBackground");
    }
  }
}

#sidebar {
  padding: 30px;
  height: 100%;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;

  border-left: solid thin;
  @include themify($themes) {
    border-color: themed("outlineColor");
  }
}

#version {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 99;
  display: inline;
  color: white;
}

body > table {
  width: 100%;
  height: calc(100vh - 50px);
  margin: 0;
  border-collapse: collapse;
  position: relative;

  tr > td {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    height: 100%;
    overflow: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  margin-right: 5px;
  @include themify($themes) {
    background: themed("foregroundColor");
  }
  border-radius: $border-radius;
}

.icon {
  height: 2.5em;
  padding-left: 30px;
}

.align-right {
  float: right;
  right: 5px;
}

.icon::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 15%;
  width: 30px;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.only-icon {
  width: 40px;
  color: transparent !important;
}

.only-icon::before {
  left: 7px;
}

.icon-settings::before {
  background-image: url(assets/icons/cog.svg);
}

.icon-stem::before {
  background-image: url(assets/icons/stem.svg);
}

.icon-branch::before {
  background-image: url(assets/icons/branch.svg);
}

.icon-leaf::before {
  background-image: url(assets/icons/leaf.svg);
}
